//
//  Config.xcconfig
//  Checkiday
//
//  Created by Stigter, Leon on 11/19/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//
// Inspiration from:
// https://medium.com/@mateuszsiatrak/automating-build-number-increments-in-xcode-with-custom-format-a-practical-guide-bcc90a19f716
//

VERSION = 2.0.1

// YYYYMMDDC where C is a counter for a given day (for example, 202306216 would be the 6th build on that day)
BUILD_NUMBER = 202510204

COPYRIGHT = © Copyright 2024, lstigter@
